/* Body styling with a gradient and world map background */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://th.bing.com/th/id/R.98aad9ca0c6296e51f82ba270e49fa03?rik=FD76x6sH8m5soQ&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f140000%2fvelka%2fworld-map-1449574443eEQ.jpg&ehk=FjucV%2bCclNNQBM4CXy91UK6xiw044CYCUAVLWQPybjs%3d&risl=&pid=ImgRaw&r=0');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.discription-p{
  color: #fff;
  text-align: center;
  padding: 5px 44px;
  font-size: 17px;
}

.App {
  padding: 52px;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  background-color: rgb(0 0 0 / 0%);
  border-radius: 10px;
  max-width: 1197px;
  margin: 35px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.App h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #f9e61e; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.select-container {
  margin-bottom: 30px;
}

select {
  padding: 12px 20px;
    margin: 0 15px;
    background: #d3d8e3;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

select:hover {
  background-color: #fff;
}


.comparison-container {
  display: flex;
    width: 100%;
    column-gap: 50px;
    justify-content: center;
    
}


.country-info {
  background-color: #fefefe;
  border-radius: 10px;
  padding: 20px;
  width: 445px;
  text-align: center;
  color: #333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.country-info:hover {
  transform: translateY(-10px);
}

.country-info h2 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #2c3e50;
}

.country-info img {
  width: 120px;
  height: 80px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.country-info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.country-info strong {
  color: #2c3e50;
}


.more-btn{
  background: #001e42;
  padding: 9px 31px;
  margin-top: 16px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
@media  (max-width:992px) and (min-width:519px) {
  select {
    padding: 11px 8px;
    margin: 13px 15px;
  }
}

@media(max-width:519px){
  .country-info {
    margin-top: 23px !important;
  }
  select {
    padding: 12px 1px !important;
    margin: 13px 15px !important;
  }
  .comparison-container{
    padding-top: 0px !important;
  }
  .App {
    padding: 3px !important;
  }
}